@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 10px !important;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: orange;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
